.mdc-menu-surface{
	opacity: 1;
	display:block;
	position: relative;
}
hr{
	color: lightgray;
}
.mdc-menu{
	margin: 0 auto;
}
.c1{
	background-color:#94eccb;
}
.mdc-snackbar{
	display: block;
}
.mdc-snackbar__surface{
	opacity: 1;
}